<div class="fortune-container">
	<p class="fortune-description"><%=@fortune.description%></p>

	<p class="small-title">Submitted by</p>
	<% if @fortune.twitter_handle %>
		<a href="https://twitter.com/<%=@fortune.twitter_handle%>">
			<p class="fortune-byline">
				<%=@fortune.name%>, <%=@fortune.city%>
			</p>
		</a>
	<% else %>
		<p class="fortune-byline">
			<%=@fortune.name%>, <%=@fortune.city%>
		</p>
	<% end %>

	<p class="small-title">Date</p>
	<p class="fortune-date">
		<%=@fortune.created_at.strftime('%d %B %Y')%>
	</p>

	<div>
		<%= link_to "Write a fortune", new_fortune_path, :class => "main-btn" %>

		<% status = "xxx" %>

		<%= link_to '<i class="fa fa-twitter"></i> Share your fortune'.html_safe, "http://twitter.com/home?status=#{status}", :class => "twitter-btn" %>
	</div>
</div>
