<div class="fortune">
	<p><%=@fortune.description%></p>
	<p>Written by <%=@fortune.name%>, age <%=@fortune.age%>, in <%=@fortune.city%>, <%=@fortune.country%>, on <%=@fortune.created_at.strftime('%d %B %Y')%>.</p>
</div>
