<div class="about-content">
	<div class="about-blurb">
		<p>Unlucky Monkey was built in January 2016 ahead of Chinese New Year.</p>

		<p>It is based on the fortune cookie tradition.</p>

		<p>The idea is for people around the world to create a fortune cookie - containing an aphorism, or a vague prophecy - which will be opened by a complete stranger.</p>

		<p>When someone opens their cookie, they can share it on Twitter, and connect with the stranger who wrote it.</p>

		<p>According to the Chinese calendar, 2016 is a year of the Monkey. Monkey years are believed to be unlucky for people born in a year of the Monkey, hence where this website got its name.</p>

		<p>Unlucky Monkey is a Ruby on Rails application.</p>
	</div>
	<div class="about-attributions">
		<div class="about-attribution">
			<p>Idea by Michael Tran</p>
			<%= link_to '<i class="fa fa-twitter fa-2x"></i>'.html_safe, "https://twitter.com/asian_dragon", :class => "twitter-contact" %>
			<%= link_to '<i class="fa fa-globe fa-2x"></i>'.html_safe, "https://about.me/MichaelTran", :class => "website-contact" %>
			<%= link_to '<i class="fa fa-linkedin fa-2x"></i>'.html_safe, "https://www.linkedin.com/in/michaeltranonline", :class => "linkedin-contact" %>
		</div>
		<div class="about-attribution">
			<p>Development by Amy Simmons</p>
			<%= link_to '<i class="fa fa-twitter fa-2x"></i>'.html_safe, "https://twitter.com/amesimmons", :class => "twitter-contact" %>
			<%= link_to '<i class="fa fa-github fa-2x"></i>'.html_safe, "https://github.com/amysimmons", :class => "github-contact" %>
			<%= link_to '<i class="fa fa-globe fa-2x"></i>'.html_safe, "http://amysimmons.github.io/", :class => "website-contact" %>
			<%= link_to '<i class="fa fa-linkedin fa-2x"></i>'.html_safe, "https://au.linkedin.com/in/amesimmons", :class => "linkedin-contact" %>
		</div>
		<div class="about-attribution">
			<p>Design by Angela Perdon</p>
			<%= link_to '<i class="fa fa-twitter fa-2x"></i>'.html_safe, "https://twitter.com/angelaperdon", :class => "twitter-contact" %>
			<%= link_to '<i class="fa fa-globe fa-2x"></i>'.html_safe, "http://angelaperdon.com/", :class => "website-contact" %>
		</div>
	</div>
<div>

